.details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
  margin-bottom: 16px;
  justify-content: center;
}

.img-container {
  max-width: 400px;
  width: 50%;
  margin: 20px;
  max-height: 400px;
}

.box-details h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2rem;
}

.cart-button {
  border: 1px solid #555;
  outline: none;
  background: #333;
  cursor: pointer;
  padding: 5%;
  color: white;
}

.cart-button 


.box-details p {
  line-height: 1.5;
  margin: 10px 0;
  opacity: 0.8;
}

.box-details .thumb img {
  width: 50px;
  height: 45px;
  display: block;
  object-fit: cover;
  margin: 20px;
  overflow: hidden;
}
