.location-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  flex-wrap: wrap;
  padding-top: 2%;
  padding-right: 2%;
  padding-left: 2%;
}

/* Medium-only */
@media screen and (min-width: 481px) and (max-width: 960px) {
  .row-container {
    display: flex;
    flex-direction: column;
  }
}

.row-location {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.column-location {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  padding-right: 2%;
  text-align: center;
}

span {
  padding-top: 5%;
  padding-bottom: 5%;
}
