/* -------------------Header----------------- */

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #696969;
  letter-spacing: 2px;
}
a:hover {
  color: black;
  text-decoration: none;
}

ul li {
  list-style: none;
  display: inline-block;
  padding: 0 15px;
}

.menu {
  display: none;
}

@media (max-width: 700px) {
  header {
    justify-content: space-between;
  }

  .menu {
    display: block;
    cursor: pointer;
  }
  ul li .menu {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
