.row-container {
  height: 300px;
  overflow: hidden;
  max-width: 100%;
}

.location {
  height: 250px;
  max-width: 25%;
  max-height: 500px;
}

img {
  max-width: 100%;
}

img:hover {
  opacity: 0.9;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}

/* Medium-only */
@media screen and (min-width: 1px) and (max-width: 960px) {
  .row-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .location {
    max-width: 100%;
    height: 100%;
  }

  .location img {
    width: 100%;
    height: 100%;
  }
}
